<section id="breadcrumbs" class="breadcrumbs" style="background-color: white">
  <div class="container">
    <ol>
      <li><a routerLink="/homeClient/accueilClient">Home</a></li>
      <li>Services</li>
    </ol>
    <h2>Services</h2>
  </div>
</section>
<!-- ======= Team Section ======= -->
<section id="team" class="team section-bg">
  <div class="container" data-aos="fade-up">
    <div class="section-title">
      <h2>Nos Services</h2>
      <p>
        Pour vous faciliter la vie et vous protéger de l'épidemie du covid 19,
        Nous vous proposons nos services en ligne pratique et rapide pour ne pas
        perdre vos temps à attendre. Ces services permettent au citoyen
        d'effectuer en toute sécurité une demande de copie d'acte en tout temps,
        en tout lieu.
      </p>
    </div>

    <div class="row">
      <div class="col-lg-6">
        <div
          class="member d-flex align-items-start"
          data-aos="zoom-in"
          data-aos-delay="100"
        >
          <div class="pic">
            <img
              src="assets/front/img/family.png"
              class="img-fluid"
              alt=""
              style="height: 150px"
            />
          </div>
          <div class="member-info">
            <a
              style="text-decoration: none"
              routerLink="/homeClient/searchData/naissance"
              ><h4>Acte De Naissance</h4></a
            >
            <span>0<sup>Dt</sup>,500</span>
            <p>Ce service permet au citoyen d'avoir un acte de naissance</p>
            <div class="social">
              <a href=""><i class="fas fa-download"></i></a>
              <a href=""><i class="fas fa-print"></i></a>
              <a href=""><i class="fas fa-eye"></i></a>
              <a href=""><i class="fas fa-share-alt"></i></a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-6 mt-4 mt-lg-0">
        <div
          class="member d-flex align-items-start"
          data-aos="zoom-in"
          data-aos-delay="200"
        >
          <div class="pic">
            <img src="assets/front/img/deces.png" class="img-fluid" alt="" />
          </div>
          <div class="member-info">
            <a
              style="text-decoration: none"
              routerLink="/homeClient/searchData/deces"
              ><h4>Acte De Décès</h4></a
            >
            <span>0<sup>Dt</sup>,150</span>
            <p>Ce service permet au citoyen d'avoir un acte de décès</p>
            <div class="social">
              <a href=""><i class="fas fa-download"></i></a>
              <a href=""><i class="fas fa-print"></i></a>
              <a href=""><i class="fas fa-eye"></i></a>
              <a href=""><i class="fas fa-share-alt"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Team Section -->
