<section id="breadcrumbs" class="breadcrumbs">
  <div class="container">
    <ol>
      <li><a routerLink="/homeClient/accueilClient">Home</a></li>
      <li>A propos</li>
    </ol>
    <h2>A propos</h2>
  </div>
</section>
<!-- End Breadcrumbs -->
<section id="about" class="about">
  <div class="container" data-aos="fade-up">
    <div class="section-title">
      <h2>A propos</h2>
    </div>

    <div class="row content">
      <div class="col-lg-6">
        <p>
          Dans le cadre de la numérisation des services offertes par les
          municipalités tunisiennes, nous avons opter pour un site web qui rend
          les fonctionnalités rapides des municipalités en ligne pour que le
          citoyen n'aura plus besoin d'attendre la queue. Dans notre site vous
          trouvez:
        </p>
        <ul>
          <li>
            <i class="ri-check-double-line"></i> Service en ligne pratique et
            rapide.
          </li>
          <li>
            <i class="ri-check-double-line"></i> Documents de haute qualité.
          </li>
          <li><i class="ri-check-double-line"></i> Paiement sécurisé.</li>
        </ul>
      </div>
      <div class="col-lg-6 pt-4 pt-lg-0">
        <p>
          RANDO<i class="fas fa-university"></i> est un site web réalisé en 2020
          par Amri Najiba: étudiante en spécialité Twin au sein de l'école
          supérieure privée d'ingénierie et de technologie ESPRIT et encadré par
          M<sup>me</sup> Bouhdid Badiaa: Docteur-Ingénieur en Informatique.
        </p>
        <a href="#" class="btn-learn-more">A propos</a>
      </div>
    </div>
  </div>
</section>
