<header id="header" class="fixed-top header-inner-pages">
  <div class="container d-flex align-items-center">
    <h1 class="logo mr-auto">
      <a >RANDO<i class="fas fa-university"></i></a>
    </h1>
    <!-- Uncomment below if you prefer to use an image logo -->
    <!-- <a href="index.html" class="logo mr-auto"><img src="assets/front/img/logo.png" alt="" class="img-fluid"></a>-->

    <nav class="nav-menu d-none d-lg-block">
      <ul>
        <li class="active">
          <a routerLink="/homeClient/accueilClient">Home</a>
        </li>
        <li><a routerLink="/homeClient/about">A propos</a></li>
        <li><a routerLink="/homeClient/onlineServices">Services</a></li>

        <li><a routerLink="/homeClient/contact">Contact</a></li>
      </ul>
    </nav>
    <!-- .nav-menu -->

    <a
      routerLink="/homeClient/login"
      [hidden]="this.authService.isLoggedIn == true"
      class="get-started-btn scrollto"
      >Login</a
    >
    <a
      (click)="logout()"
      style="color: white"
      class="get-started-btn scrollto"
      *ngIf="this.authService.isLoggedIn"
    >
      Logout
    </a>
    <a
      href="/admin/dashboard"
      class="get-started-btn scrollto"
      [hidden]="role != 'admin' || !this.authService.isLoggedIn"
    >
      Dashboard
    </a>
  </div>
</header>
<!-- End Header -->

<!-- ======= Hero Section ======= -->
<!-- End Hero -->

<!-- End #main -->
<router-outlet></router-outlet>
<!-- ======= Footer ======= -->
<footer id="footer">
  <div class="footer-newsletter">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-6">
          <h4>Rejoignez notre newsletter</h4>
          <p>Ecrivez vos emails ici.</p>
          <form action="" method="post">
            <input type="email" name="email" /><input
              type="submit"
              value="Subscribe"
            />
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="footer-top">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-6 footer-contact">
          <h3>RANDO<i class="fas fa-university"></i></h3>
          <p>
            Ariana Essoghra<br />
            Ariana 7112<br />
            Tunisie <br /><br />
            <strong>Téléphone:</strong> +216 52 682 503<br />
            <strong>Email:</strong> najiba.amri@esprit.tn<br />
          </p>
        </div>

        <div class="col-lg-3 col-md-6 footer-links">
          <h4>Plan du site</h4>
          <ul>
            <li><i class="bx bx-chevron-right"></i> <a href="">Home</a></li>
            <li>
              <i class="bx bx-chevron-right"></i> <a href="#">A propos</a>
            </li>
            <li>
              <i class="bx bx-chevron-right"></i> <a href="#">Services</a>
            </li>
            <li>
              <i class="bx bx-chevron-right"></i>
              <a href="#">Contact</a>
            </li>
            <li>
              <i class="bx bx-chevron-right"></i>
              <a href="#">Login</a>
            </li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-6 footer-links">
          <h4>Nos Services</h4>
          <ul>
            <li>
              <i class="bx bx-chevron-right"></i>
              <a href="#">Acte de naissance</a>
            </li>
            <li>
              <i class="bx bx-chevron-right"></i>
              <a href="#">Acte de décès</a>
            </li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-6 footer-links">
          <h4>Nos réseaux sociaux</h4>
          <p>Vous pouvez nous trouvez sur les réseaux sociaux</p>
          <div class="social-links mt-3">
            <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
            <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
            <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
            <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
            <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container footer-bottom clearfix">
    <div class="copyright">
      &copy; Copyright <strong><span>Amri Najiba</span></strong
      >. All Rights Reserved
    </div>
    <div class="credits">
      <!-- All the links in the footer should remain intact. -->
      <!-- You can delete the links only if you purchased the pro version. -->
      <!-- Licensing information: https://bootstrapmade.com/license/ -->
      <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/arsha-free-bootstrap-html-template-corporate/ -->
    </div>
  </div>
</footer>
<!-- End Footer -->

<a href="#" class="back-to-top"><i class="ri-arrow-up-line"></i></a>
<div id="preloader"></div>
