<div class="content-wrapper">
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Ajouter Une Personne</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active">General Form</li>
          </ol>
        </div>
      </div>
    </div>
    <!-- /.container-fluid -->
  </section>
  <div
    *ngIf="alert"
    class="alert alert-success alert-dismissible fade show"
    role="alert"
  >
    <strong>Success !</strong> User Added successfully !
  </div>
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <!-- left column -->
        <div class="col-md-12">
          <!-- general form elements -->
          <div class="card card-primary">
            <div class="card-header">
              <h3 class="card-title">Entrer Les Informations Du Personne</h3>
            </div>
            <!-- /.card-header -->
            <!-- form start -->
            <form>
              <div class="card-body">
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label>Nom</label>
                      <input
                        type="text"
                        class="form-control"
                        name="nom"
                        placeholder="Entrer le nom"
                        [(ngModel)]="personne.nom"
                      />
                    </div>
                    <div class="form-group">
                      <label>Prénom</label>
                      <input
                        type="text"
                        class="form-control"
                        name="prenom"
                        placeholder="Entrer le prénom"
                        [(ngModel)]="personne.prenom"
                      />
                    </div>
                    <div class="form-group">
                      <label>Date de naissance</label>
                      <input
                        type="date"
                        class="form-control"
                        name="dateNaissance"
                        placeholder="Entrer la date de naissance"
                        [(ngModel)]="personne.dateNaissance"
                      />
                    </div>

                    <div class="form-group">
                      <label>Lieu de naissance</label>
                      <select
                        class="form-control"
                        name="lieuNaissance"
                        [(ngModel)]="personne.lieuNaissance"
                      >
                        <option value="tunis">tunis</option>
                        <option value="kef">Kef</option>
                        <option value="sousse">Sousse</option>
                      </select>
                    </div>
                    <div class="form-group">
                      <label>Nationalite</label>
                      <select
                        class="form-control"
                        name="nationalite"
                        [(ngModel)]="personne.nationalite"
                      >
                        <option value="tunisienne">Tunisienne</option>
                        <option value="française">Française</option>
                        <option value="japonaise">Japonaise</option>
                      </select>
                    </div>
                  </div>

                  <div class="col-md-6">
                    <label>Sexe</label><br />
                    <div class="form-group clearfix">
                      <div class="icheck-success d-inline">
                        <input
                          type="radio"
                          value="masculin"
                          name="sexe"
                          [(ngModel)]="personne.sexe"
                          checked
                          id="radioSuccess1"
                        />
                        <label for="radioSuccess1">Masculin </label>
                      </div>
                      <div class="icheck-success d-inline">
                        <input
                          type="radio"
                          value="feminin"
                          name="sexe"
                          [(ngModel)]="personne.sexe"
                          checked
                          id="radioSuccess2"
                        />
                        <label for="radioSuccess2">Feminin</label>
                      </div>
                    </div>
                    <div class="form-group">
                      <label>Nom du père</label>
                      <input
                        type="text"
                        class="form-control"
                        name="nomPere"
                        placeholder="Entrer le nom du père"
                        [(ngModel)]="personne.nomPere"
                      />
                    </div>
                    <div class="form-group">
                      <label>Nationalité du père</label>
                      <select
                        class="form-control"
                        name="natioPere"
                        placeholder="Entrer la nationalité du père"
                        [(ngModel)]="personne.natioPere"
                      >
                        <option value="tunisienne">Tunisienne</option>
                        <option value="française">Française</option>
                        <option value="japonaise">Japonaise</option>
                      </select>
                    </div>
                    <div class="form-group">
                      <label>Nom de la mère</label>
                      <input
                        type="text"
                        class="form-control"
                        name="nomMere"
                        placeholder="Entrer le nom de la mère"
                        [(ngModel)]="personne.nomMere"
                      />
                    </div>
                    <div class="form-group">
                      <label>Nationalité de la mère</label>
                      <select
                        class="form-control"
                        name="natioMere"
                        placeholder="Entrer la nationalité de la mère"
                        [(ngModel)]="personne.natioMere"
                      >
                        <option value="tunisienne">Tunisienne</option>
                        <option value="française">Française</option>
                        <option value="japonaise">Japonaise</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>

              <!-- /.card-body -->

              <div class="card-footer">
                <button
                  type="submit"
                  class="btn btn-primary"
                  (click)="addPerson()"
                >
                  Ajouter
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
