<div class="content-wrapper">
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Ajouter Une Personne</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active">General Form</li>
          </ol>
        </div>
      </div>
    </div>
    <!-- /.container-fluid -->
  </section>
  <div
    *ngIf="alert"
    class="alert alert-success alert-dismissible fade show"
    role="alert"
  >
    <strong>Success !</strong> User Added successfully !
  </div>
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <!-- left column -->
        <div class="col-md-12">
          <!-- general form elements -->
          <div class="card card-primary">
            <div class="card-header">
              <h3 class="card-title">Entrer Les Informations De La Personne</h3>
            </div>
            <!-- /.card-header -->
            <!-- form start -->
            <form #f="ngForm">
              <div class="card-body">
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label>Nom</label>
                      <input
                        type="text"
                        class="form-control"
                        name="nom"
                        placeholder="Entrer le nom"
                        [(ngModel)]="personne.nom"
                        required
                        #n="ngModel"
                        pattern="[a-zA-Z]+$"
                      />
                      <div
                        class="alert alert-danger"
                        *ngIf="n.invalid && n.touched"
                      >
                        <div *ngIf="n.errors.required">
                          Le nom est obligatoire.
                        </div>
                        <div *ngIf="n.errors.pattern">
                          Le nom doit contenir des lettres seulement.
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <label>Prénom</label>
                      <input
                        type="text"
                        class="form-control"
                        name="prenom"
                        placeholder="Entrer le prénom"
                        [(ngModel)]="personne.prenom"
                        required
                        #p="ngModel"
                        pattern="[a-zA-Z]+$"
                      />
                      <div
                        class="alert alert-danger"
                        *ngIf="p.invalid && p.touched"
                      >
                        <div *ngIf="p.errors.required">
                          Le prénom est obligatoire.
                        </div>
                        <div *ngIf="p.errors.pattern">
                          Le prénom doit contenir des lettres seulement.
                        </div>
                      </div>
                    </div>
                    <label>Sexe</label><br />
                    <div class="form-group clearfix">
                      <div class="icheck-success d-inline">
                        <input
                          checked
                          type="radio"
                          value="masculin"
                          name="sexe"
                          [(ngModel)]="personne.sexe"
                          id="radioSuccess1"
                          required
                          #s="ngModel"
                        />
                        <label for="radioSuccess1">Masculin </label>&nbsp;&nbsp;
                      </div>
                      <div class="icheck-success d-inline">
                        <input
                          type="radio"
                          value="feminin"
                          name="sexe"
                          [(ngModel)]="personne.sexe"
                          checked
                          id="radioSuccess2"
                          required
                          #s="ngModel"
                        />
                        <label for="radioSuccess2">Féminin</label>
                      </div>
                      <div
                        class="alert alert-danger"
                        *ngIf="s.invalid && s.touched"
                      >
                        <div *ngIf="s.errors.required">
                          Le sexe est obligatoire.
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <label>Date de naissance</label>
                      <input
                        type="date"
                        class="form-control"
                        name="dateNaissance"
                        placeholder="Entrer la date de naissance"
                        [(ngModel)]="personne.dateNaissance"
                        required
                        #Dn="ngModel"
                      />
                      <div
                        class="alert alert-danger"
                        *ngIf="Dn.invalid && Dn.touched"
                      >
                        <div *ngIf="Dn.errors.required">
                          La date de naissance est obligatoire.
                        </div>
                      </div>
                    </div>

                    <div class="form-group">
                      <label>Lieu de naissance</label>
                      <select
                        class="form-control"
                        name="lieuNaissance"
                        [(ngModel)]="personne.lieuNaissance"
                        required
                        #Ln="ngModel"
                      >
                        <option value="tunis">tunis</option>
                        <option value="kef">Kef</option>
                        <option value="sousse">Sousse</option>
                      </select>
                      <div
                        class="alert alert-danger"
                        *ngIf="Ln.invalid && Ln.touched"
                      >
                        <div *ngIf="Ln.errors.required">
                          Le Lieu de naissance est obligatoire.
                        </div>
                      </div>
                    </div>
                    <label>Situation Familiale</label><br /><br />
                    <div class="form-group clearfix">
                      <div class="icheck-wisteria d-inline">
                        <input
                          type="radio"
                          value="célibataire"
                          name="sitFamiliale"
                          [(ngModel)]="personne.sitFamiliale"
                          checked
                          id="wisteria1"
                          #SF="ngModel"
                        />
                        <label for="wisteria1">célibataire</label>&nbsp;&nbsp;
                      </div>
                      <div class="icheck-wisteria d-inline">
                        <input
                          type="radio"
                          value="Marié"
                          name="sitFamiliale"
                          [(ngModel)]="personne.sitFamiliale"
                          checked
                          id="wisteria2"
                          #SF="ngModel"
                        />
                        <label for="wisteria2">Marié(e) </label>&nbsp;&nbsp;
                      </div>
                      <div class="icheck-wisteria d-inline">
                        <input
                          type="radio"
                          value="Divorcé"
                          name="sitFamiliale"
                          [(ngModel)]="personne.sitFamiliale"
                          checked
                          id="wisteria3"
                          #SF="ngModel"
                        />
                        <label for="wisteria3">Divorcé(e)</label>&nbsp;&nbsp;
                      </div>
                      <div
                        class="alert alert-danger"
                        *ngIf="SF.invalid && SF.touched"
                      >
                        <div *ngIf="SF.errors.required">
                          La situation familiale est obligatoire.
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-6">
                    <div class="form-group">
                      <label>Nom du père</label>
                      <input
                        type="text"
                        class="form-control"
                        name="nomPere"
                        placeholder="Entrer le nom du père"
                        [(ngModel)]="personne.nomPere"
                        required
                        #pe="ngModel"
                        pattern="[a-zA-Z]+$"
                      />
                      <div
                        class="alert alert-danger"
                        *ngIf="pe.invalid && pe.touched"
                      >
                        <div *ngIf="pe.errors.required">
                          Le nom du père est obligatoire.
                        </div>
                        <div *ngIf="pe.errors.pattern">
                          Le nom du père doit contenir des lettres seulement.
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <label>Nationalité du père</label>
                      <select
                        class="form-control"
                        name="natioPere"
                        placeholder="Entrer la nationalité du père"
                        [(ngModel)]="personne.natioPere"
                        required
                        #Np="ngModel"
                      >
                        <option value="tunisienne">Tunisienne</option>
                        <option value="française">Française</option>
                        <option value="japonaise">Japonaise</option>
                      </select>
                      <div
                        class="alert alert-danger"
                        *ngIf="Np.invalid && Np.touched"
                      >
                        <div *ngIf="Np.errors.required">
                          La nationalité du père est obligatoire.
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <label>Nom de la mère</label>
                      <input
                        type="text"
                        class="form-control"
                        name="nomMere"
                        placeholder="Entrer le nom de la mère"
                        [(ngModel)]="personne.nomMere"
                        required
                        #m="ngModel"
                        pattern="[a-zA-Z]+$"
                      />
                      <div
                        class="alert alert-danger"
                        *ngIf="m.invalid && m.touched"
                      >
                        <div *ngIf="m.errors.required">
                          Le nom de la mère est obligatoire.
                        </div>
                        <div *ngIf="m.errors.pattern">
                          Le nom de la mère doit contenir des lettres seulement.
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <label>Nationalité de la mère</label>
                      <select
                        class="form-control"
                        name="natioMere"
                        placeholder="Entrer la nationalité de la mère"
                        [(ngModel)]="personne.natioMere"
                        required
                        #Nm="ngModel"
                      >
                        <option value="tunisienne">Tunisienne</option>
                        <option value="française">Française</option>
                        <option value="japonaise">Japonaise</option>
                      </select>
                      <div
                        class="alert alert-danger"
                        *ngIf="Nm.invalid && Nm.touched"
                      >
                        <div *ngIf="Nm.errors.required">
                          La nationalité de la mère est obligatoire.
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <label>Date de décès</label>
                      <input
                        type="date"
                        class="form-control"
                        name="dateDeces"
                        placeholder="Entrer la date de naissance"
                        [(ngModel)]="personne.dateDeces"
                      />
                    </div>

                    <div class="form-group">
                      <label>Lieu de Décès</label>
                      <select
                        class="form-control"
                        name="lieuDeces"
                        [(ngModel)]="personne.lieuDeces"
                      >
                        <option value="tunis">tunis</option>
                        <option value="kef">Kef</option>
                        <option value="sousse">Sousse</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>

              <!-- /.card-body -->

              <div class="card-footer">
                <button
                  type="submit"
                  style="float: right; margin-right: 30px"
                  class="btn btn-primary"
                  [disabled]="f.invalid"
                  (click)="addPerson()"
                >
                  Ajouter
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
