<section id="breadcrumbs" class="breadcrumbs">
  <div class="container">
    <ol>
      <li><a routerLink="/homeClient/accueilClient">Home</a></li>
      <li>Login</li>
    </ol>
    <h2>Login</h2>
  </div>
</section>
<section id="contact" class="contact">
  <div class="container" data-aos="fade-up">
    <div class="section-title">
      <h2>Login</h2>
      <p>
        
      </p>
    </div>

    <div class="">
      
      <div class="">
        <form
          class="php-email-form"
          [formGroup]="loginForm"
          (ngSubmit)="login()"
        >
          <div class="form-row">
            <div class="form-group col-md-6">
              <label>Username</label>
              <input
                type="text"
                formControlName="username"
                class="form-control"
                data-rule="minlen:4"
                data-msg="Please enter at least 4 chars"
              />
              <div
                *ngIf="isSubmitted && formControls.username.errors"
                class="help-block"
              >
                <div *ngIf="formControls.username.errors.required">
                  Username is required
                </div>
              </div>
            </div>
            <div class="form-group col-md-6">
              <label for="name">Your Email</label>
              <input
                type="email"
                class="form-control"
                formControlName="email"
                data-rule="email"
                data-msg="Please enter a valid email"
              />
              <div
                *ngIf="isSubmitted && formControls.email.errors"
                class="help-block"
              >
                <div *ngIf="formControls.email.errors.required">
                  Email is required
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="name">Password</label>
            <input
              type="password"
              class="form-control"
              formControlName="password"
              data-rule="minlen:4"
              data-msg="Please enter at least 8 chars of subject"
            />
            <div
              *ngIf="isSubmitted && formControls.password.errors"
              class="help-block"
            >
              <div *ngIf="formControls.password.errors.required">
                Password is required
              </div>
            </div>
          </div>

          <div class="mb-3">
            <div class="loading">Loading</div>
            <div class="error-message"></div>
            <div class="sent-message">
              Your message has been sent. Thank you!
            </div>
          </div>
          <div class="text-center">
            <button type="submit">Log In</button>
          </div>
          <div class="displaymsg">{{ msg }}</div>
        </form>
      </div>
    </div>
  </div>
</section>
