<section id="breadcrumbs" class="breadcrumbs">
  <div class="container">
    <ol>
      <li><a routerLink="/homeClient/accueilClient">Home</a></li>
      <li>Services</li>
    </ol>
    <h2>Acte de {{ type }}</h2>
  </div>
</section>
<section id="contact" class="contact" [hidden]="isLoggedIn == false">
  <div class="container" data-aos="fade-up">
    <div class="section-title">
      <h2>{{ type }}</h2>
      <p>
        Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex
        aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos
        quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat
        sit in iste officiis commodi quidem hic quas.
      </p>
    </div>

    <div class="row">
      <div class="col-lg-5 d-flex align-items-stretch">
        <div class="info">
          <img src="assets/front/img/naissance.jpg" />
        </div>
      </div>

      <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
        <form class="php-email-form" [formGroup]="SearchForm">
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for=""> Nom</label>
              <input type="text" class="form-control" formControlName="nom" />
              <div
                class="alert alert-danger"
                *ngIf="
                  SearchForm.get('nom').errors &&
                  SearchForm.controls['nom'].touched
                "
              >
                <div *ngIf="SearchForm.get('nom').hasError('required')">
                  Le nom est obligatoire
                </div>
                <div *ngIf="SearchForm.controls['nom'].hasError('pattern')">
                  Le nom doit contenir des lettres seulement
                </div>
              </div>
            </div>

            <div class="form-group col-md-6">
              <label for=""> Prénom</label>
              <input
                class="form-control"
                data-rule="email"
                formControlName="prenom"
                data-msg="Please enter a valid email"
              />
              <div
                class="alert alert-danger"
                *ngIf="
                  SearchForm.get('prenom').errors &&
                  SearchForm.controls['prenom'].touched
                "
              >
                <div *ngIf="SearchForm.get('prenom').hasError('required')">
                  Le prénom est obligatoire
                </div>
                <div *ngIf="SearchForm.controls['prenom'].hasError('pattern')">
                  Le prénom doit contenir des lettres seulement
                </div>
              </div>
            </div>
          </div>
          <div class="form-group" *ngIf="type == 'naissance'">
            <label for=""> Date de naissance</label>
            <input
              type="date"
              class="form-control"
              data-date-format="DD/MM/YYYY"
              formControlName="dateNaissance"
            />

            <div
              class="alert alert-danger"
              *ngIf="
                SearchForm.get('dateNaissance').errors &&
                SearchForm.controls['dateNaissance'].touched
              "
            >
              <div *ngIf="SearchForm.get('dateNaissance').hasError('required')">
                La date de naissance est obligatoire
              </div>
            </div>
          </div>
          <div class="form-group" *ngIf="type == 'deces'">
            <label for=""> Date de décès</label>
            <input
              type="date"
              class="form-control"
              formControlName="dateDeces"
            />
            <div
              class="alert alert-danger"
              *ngIf="
                SearchForm.get('dateDeces').errors &&
                SearchForm.controls['dateDeces'].touched
              "
            >
              <div *ngIf="SearchForm.get('dateDeces').hasError('required')">
                La date de décès est obligatoire
              </div>
            </div>
          </div>

          <div class="mb-3">
            <div class="loading">Loading</div>
            <div class="error-message"></div>
            <div class="sent-message">
              Your message has been sent. Thank you!
            </div>
          </div>
          <div class="text-center">
            <button
              (click)="HtmlPDF()"
              [disabled]="searchButton == false"
              type="submit"
            >
              Envoyer
            </button>
          </div>
          <br />
          <form
            novalidate
            (ngSubmit)="createToken()"
            [formGroup]="stripeTest"
            [hidden]="visible == true"
          >
            <br />
            <label>Numéro de carte</label>
            <ngx-stripe-card
              class="form-control"
              [options]="cardOptions"
              [elementsOptions]="elementsOptions"
            ></ngx-stripe-card>
            <br />
            <div class="text-center">
              <button type="submit">Payer</button>
            </div>
          </form>
        </form>
      </div>
    </div>
  </div>
</section>

<!--Naissance-->
<div id="naissance" style="font-size: 12px" [hidden]="hey == true">
  <table>
    <tr>
      <td style="width: 30%">
        <p style="text-align: center">REPUBLIQUE TUNISIENNE</p>
        <h6 style="text-align: center">MINISTERE DES AFFAIRES</h6>
        <h6 style="text-align: center">LOCALES ET DE L'ENVIRONNEMENT</h6>
        <B>Gouvernorat: ARIANA</B><br />
        <b>Délégation: ARIANA</b><br />
        <b>Commune: ARIANA</b><br />
        <b>Arrondi. com.: </b><br />
        <b>Secteur: </b>
      </td>
      <td style="text-align: center; width: 40%">
        <img src="assets/front/img/symbole.png" style="width: 20%" />
        <h5>EXTRAIT DES REGISTRES</h5>
        <h6>
          DE L'ETAT CIVIL <br />
          _______________
        </h6>
        <h1>NAISSANCE</h1>
        <em>(VERSION FRANCAISE)</em>
      </td>
      <td align="right">
        <h3>C / 2041605</h3>
        <p
          style="
            border-style: solid;
            border-radius: 20px;
            text-align: center;
            padding: 10px;
          "
        >
          Année: 1998<br />
          Acte N°: 677<br />
          -Déclaration:<br />
          -ou jugement:<br />
        </p>
      </td>
    </tr>
  </table>
  <table class="table table-header-rotated" *ngFor="let person of listPersonsN">
    <tbody>
      <tr>
        <th class="row-header">NOM <br />PRENOM</th>
        <td>
          <tr>
            {{
              person.nom | uppercase
            }}
            *
          </tr>
          <tr>
            {{
              person.prenom | uppercase
            }}
            *
          </tr>
        </td>
      </tr>
      <tr>
        <th class="row-header">
          Date de naissance <br />Jour, mois et année <br />(en toutes lettres)
        </th>
        <td>{{ person.dateNaissance | date: "fullDate" }} *</td>
      </tr>
      <tr>
        <th class="row-header">Lieu de naissance</th>
        <td>{{ person.lieuNaissance | uppercase }} *</td>
      </tr>
      <tr>
        <th class="row-header">Sexe</th>
        <td>{{ person.sexe | uppercase }} *</td>
      </tr>
      <tr>
        <th class="row-header">
          Nom, prénoms,<br />profession et nationalité<br />du père
        </th>
        <td>
          <tr>
            {{
              person.nomPere | uppercase
            }}
            *
          </tr>
          <tr>
            {{
              person.natioPere | uppercase
            }}
            *
          </tr>
        </td>
      </tr>
      <tr>
        <th class="row-header">
          Nom, prénoms,<br />profession et nationalité<br />de la mère
        </th>
        <td>
          <tr>
            {{
              person.nomMere | uppercase
            }}
            *
          </tr>
          <tr>
            {{
              person.natioMere | uppercase
            }}
            *
          </tr>
        </td>
      </tr>
      <tr>
        <th class="row-header">
          Date de la déclaration<br />(jour, mois, année, heure)
        </th>
        <td>{{ CurrentDate.toString() }} *</td>
      </tr>

      <tr>
        <th class="row-header">
          Nom, prénoms,<br />et profession du déclarant<br />ou le tribunal
        </th>
        <td>{{ username | uppercase }} *</td>
      </tr>
      <tr>
        <th class="row-header">
          Nom, prénoms<br />et qualité de l'officier de l'état civil
        </th>
        <td>MOHAMED AYACHI ABIDI *</td>
      </tr>
    </tbody>
  </table>
  <table>
    <tr align="center">
      <h5 style="text-align: center">Observations</h5>
      N E A N T
    </tr>
    <tr>
      <td>Imprimerie Officielle Prix: 0<sup>D</sup>,500</td>
      <td>
        Pour version française certifiée conforme à l'original<br />
        ARIANA 3 DECEMBRE 2020
      </td>
    </tr>
    <tr>
      <td style="width: 60%">
        <p style="border-style: solid; border-radius: 20px">
          Note: Tout faux, toute altération dans les actes de l'état civil
          donnent lieu aux <br />
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; poursuites
          judiciaires conformément aux lois réglementant l'état civil et au<br />
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; code pénal.
        </p>
      </td>
      <td>
        <p>L'officier de l'état civil</p>
        <img
          src="assets/front/img/cachet.png"
          style="width: 30%; float: right; margin-right: 50px"
        />
        <img src="assets/front/img/signature.png" style="width: 30%" />
        <h6>RAOUANI RIDHA</h6>
      </td>
    </tr>
  </table>
</div>

<!--Deces-->
<div id="deces" style="font-size: 12px" [hidden]="hey == true">
  <table>
    <tr>
      <td style="width: 30%">
        <p style="text-align: center">REPUBLIQUE TUNISIENNE</p>
        <h6 style="text-align: center">MINISTERE DES AFFAIRES</h6>
        <h6 style="text-align: center">LOCALES ET DE L'ENVIRONNEMENT</h6>
        <B>Gouvernorat: ARIANA</B><br />
        <b>Délégation: ARIANA</b><br />
        <b>Commune: ARIANA</b><br />
        <b>Arrondi. com.: </b><br />
        <b>Secteur: </b>
      </td>
      <td style="text-align: center; width: 40%">
        <img src="assets/front/img/symbole.png" style="width: 20%" />
        <h5>EXTRAIT DES REGISTRES</h5>
        <h6>
          DE L'ETAT CIVIL <br />
          _______________
        </h6>
        <h1>Décès</h1>
        <em>(VERSION FRANCAISE)</em>
      </td>
      <td align="right">
        <h3>C / 2041605</h3>
        <p
          style="
            border-style: solid;
            border-radius: 20px;
            text-align: center;
            padding: 10px;
          "
        >
          Année: <br />
          Acte N°: 677<br />
          -Déclaration:<br />
          -ou jugement:<br />
        </p>
      </td>
    </tr>
  </table>
  <table class="table table-header-rotated" *ngFor="let person of listPersonsD">
    <tbody>
      <tr>
        <th class="row-header">NOM <br />PRENOM</th>
        <td>
          <tr>
            {{
              person.nom | uppercase
            }}
            *
          </tr>
          <tr>
            {{
              person.prenom | uppercase
            }}
            *
          </tr>
        </td>
      </tr>
      <tr>
        <th class="row-header">
          Date de décès <br />Jour, mois et année <br />(en toutes lettres)
        </th>
        <td>{{ datedeces | date: "fullDate" }} *</td>
      </tr>
      <tr>
        <th class="row-header">Lieu de décès</th>
        <td>{{ person.lieuDeces | uppercase }} *</td>
      </tr>
      <tr>
        <th class="row-header">Sexe</th>
        <td>{{ person.sexe | uppercase }} *</td>
      </tr>
      <tr>
        <th class="row-header">
          Nom, prénoms,<br />profession et nationalité<br />du père
        </th>
        <td>
          <tr>
            {{
              person.nomPere | uppercase
            }}
            *
          </tr>
          <tr>
            {{
              person.natioPere | uppercase
            }}
            *
          </tr>
        </td>
      </tr>
      <tr>
        <th class="row-header">
          Nom, prénoms,<br />profession et nationalité<br />de la mère
        </th>
        <td>
          <tr>
            {{
              person.nomMere | uppercase
            }}
            *
          </tr>
          <tr>
            {{
              person.natioMere | uppercase
            }}
            *
          </tr>
        </td>
      </tr>
      <tr>
        <th class="row-header">Situation familiale</th>
        <td>{{ person.sitFamiliale | uppercase }} *</td>
      </tr>
      <tr>
        <th class="row-header">
          Date de la déclaration du décès<br />(jour, mois, année, heure)
        </th>
        <td>{{ CurrentDate.toString() }} *</td>
      </tr>

      <tr>
        <th class="row-header">
          Nom, prénoms,<br />et profession du déclarant<br />ou le tribunal
        </th>
        <td>{{ username | uppercase }} *</td>
      </tr>
      <tr>
        <th class="row-header">
          Nom, prénoms<br />et qualité de l'officier de l'état civil
        </th>
        <td>RIDHA RAOUANI *</td>
      </tr>
    </tbody>
  </table>
  <table>
    <tr align="center">
      <h5 style="text-align: center">Observations</h5>
      N E A N T
    </tr>
    <tr>
      <td>Imprimerie Officielle Prix: 0<sup>D</sup>,150</td>
      <td>
        Pour version française certifiée conforme à l'original<br />
        ARIANA 3 DECEMBRE 2020
      </td>
    </tr>
    <tr>
      <td style="width: 60%">
        <p style="border-style: solid; border-radius: 20px">
          Note: Tout faux, toute altération dans les actes de l'état civil
          donnent lieu aux <br />
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; poursuites
          judiciaires conformément aux lois réglementant l'état civil et au<br />
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; code pénal.
        </p>
      </td>
      <td>
        <p>L'officier de l'état civil</p>
        <img
          src="assets/front/img/cachet.png"
          style="width: 30%; float: right; margin-right: 50px"
        />
        <img src="assets/front/img/signature.png" style="width: 30%" />
        <h6>RAOUANI RIDHA</h6>
      </td>
    </tr>
  </table>
</div>

<!--notification-->
<simple-notifications></simple-notifications>
