<section id="hero" class="d-flex align-items-center">
  <div class="container">
    <div class="row">
      <div
        class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1"
        data-aos="fade-up"
        data-aos-delay="200"
      >
        <h1>La Meilleure Solution Pour Gagner Du Temps</h1>
        <h2>Découvrez Nos Services En Ligne</h2>
        <div class="d-lg-flex">
          <a
            routerLink="/homeClient/onlineServices"
            class="btn-get-started scrollto"
            >Commencer</a
          >
        </div>
      </div>
      <div
        class="col-lg-6 order-1 order-lg-2 hero-img"
        data-aos="zoom-in"
        data-aos-delay="200"
      >
        <img
          src="assets/front/img/tunisie.png"
          class="img-fluid animated"
          alt=""
        />
      </div>
    </div>
  </div>
</section>
<main id="main">
  <!-- ======= Cliens Section ======= -->

  <!-- End Cliens Section -->

  <!-- ======= About Us Section ======= -->
  <!-- End About Us Section -->
  <!-- ======= Services Section ======= -->
  <section id="services" class="services section-bg">
    <div class="container" data-aos="fade-up">
      <div class="section-title">
        <h2>Services</h2>
        <p>
          Pour vous faciliter la vie et vous protéger de l'épidemie du covid 19,
          Nous vous proposons nos services en ligne pratiques et rapides pour ne
          pas perdre vos temps à attendre. Ces services permettent au citoyen
          d'effectuer en toute sécurité une demande de copie d'acte en tout
          temps, en tout lieu.
        </p>
      </div>

      <div class="row">
        <div
          class="col-xl-3 col-md-6 d-flex align-items-stretch"
          data-aos="zoom-in"
          data-aos-delay="100"
        >
          <div class="icon-box">
            <div class="icon"><i class="fas fa-birthday-cake"></i></div>
            <h4><a href="">Acte de naissance</a></h4>
            <p>
              Un acte de naissance est un document juridique authentique
              attestant de la naissance d'une personnalité juridique.
            </p>
          </div>
        </div>

        <div
          class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-md-0"
          data-aos="zoom-in"
          data-aos-delay="200"
        >
          <div class="icon-box">
            <div class="icon"><i class="bx bx-file"></i></div>
            <h4><a href="">Acte de décès</a></h4>
            <p>
              Un acte de décès est un acte juridique de l'état civil français.
              C'est un acte authentique qui est établi à la mort d'une personne.
            </p>
          </div>
        </div>
        <div
          class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-md-0"
          data-aos="zoom-in"
          data-aos-delay="200"
        >
          <div class="icon-box">
            <div class="icon"><i class="fas fa-money-check-alt"></i></div>
            <h4><a href="">Paiement sécurisé</a></h4>
            <p>
              Il suffit d'entrer le numéro de votre carte à chaque document. Ce
              dernier ne sera pas enregistré en raison de sécurité de votre
              compte bancaire.
            </p>
          </div>
        </div>
        <div
          class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-md-0"
          data-aos="zoom-in"
          data-aos-delay="200"
        >
          <div class="icon-box">
            <div class="icon"><i class="fas fa-database"></i></div>
            <h4><a href="">Informations protégées</a></h4>
            <p>Ne vous inquiétez pas, vos informations sont protégées.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Services Section -->
  <!-- ======= Why Us Section ======= -->
  <section id="why-us" class="why-us section-bg">
    <div class="container-fluid" data-aos="fade-up">
      <div class="row">
        <div
          class="col-lg-7 d-flex flex-column justify-content-center align-items-stretch order-2 order-lg-1"
        >
          <div class="content">
            <h3>
              Nous vous offrons
              <strong>un accés rapide à vos documents</strong>
            </h3>
            <p>
              Il suffit de suivre les étapes décrites au dessous pour avoir les
              documents désirés.
            </p>
          </div>

          <div class="accordion-list">
            <ul>
              <li>
                <a
                  data-toggle="collapse"
                  class="collapsed"
                  href="#accordion-list-1"
                  ><span>01</span> Remplir le formulaire du document désiré.
                  <i class="bx bx-chevron-down icon-show"></i
                  ><i class="bx bx-chevron-up icon-close"></i
                ></a>
              </li>

              <li>
                <a
                  data-toggle="collapse"
                  href="#accordion-list-2"
                  class="collapsed"
                  ><span>02</span> Entrer votre numéro de carte pour payer le
                  côut du document. <i class="bx bx-chevron-down icon-show"></i
                  ><i class="bx bx-chevron-up icon-close"></i
                ></a>
              </li>

              <li>
                <a
                  data-toggle="collapse"
                  href="#accordion-list-3"
                  class="collapsed"
                  ><span>03</span> Votre document sera téléchargé
                  automatiquement dans quelques secondes.
                  <i class="bx bx-chevron-down icon-show"></i
                  ><i class="bx bx-chevron-up icon-close"></i
                ></a>
              </li>
            </ul>
          </div>
        </div>

        <div
          class="col-lg-5 align-items-stretch order-1 order-lg-2 img"
          style="background-image: url('assets/front/img/why-us.png')"
          data-aos="zoom-in"
          data-aos-delay="150"
        >
          &nbsp;
        </div>
      </div>
    </div>
  </section>
  <!-- End Why Us Section -->

  <!-- ======= Skills Section ======= -->

  <!-- End Skills Section -->

  <!-- ======= Cta Section ======= -->
  <section id="cta" class="cta">
    <div class="container" data-aos="zoom-in">
      <div class="row">
        <div class="col-lg-9 text-center text-lg-left">
          <h3>Se Connecter</h3>
          <p>
            Pour avoir les documents que vous avez besoin, que ce soit vos
            documents et ceux de vos proches, vous devez être connecter dans
            notre espace Login.
          </p>
        </div>
        <div class="col-lg-3 cta-btn-container text-center">
          <a class="cta-btn align-middle" routerLink="/homeClient/login"
            >Se Connecter</a
          >
        </div>
      </div>
    </div>
  </section>
  <!-- End Cta Section -->

  <!-- ======= Portfolio Section ======= -->
  <section id="portfolio" class="portfolio">
    <div class="container" data-aos="fade-up">
      <div class="section-title">
        <h2>Les Municipalités</h2>
        <p>Voilà quelques images montrant les municipalités de la Tunisie.</p>
      </div>

      <ul
        id="portfolio-flters"
        class="d-flex justify-content-center"
        data-aos="fade-up"
        data-aos-delay="100"
      >
        <li data-filter="*" class="filter-active">Tout</li>
        <li data-filter=".filter-app">Organisation</li>
        <li data-filter=".filter-card">Liberté</li>
        <li data-filter=".filter-web">Justice</li>
      </ul>

      <div
        class="row portfolio-container"
        data-aos="fade-up"
        data-aos-delay="200"
      >
        <div class="col-lg-4 col-md-6 portfolio-item filter-app">
          <div class="portfolio-img">
            <img
              src="assets/front/img/portfolio/muni9.jpg"
              class="img-fluid"
              alt=""
            />
          </div>
          <div class="portfolio-info">
            <h4>Tunisie</h4>
            <p>Tunisie</p>
            <a
              href="assets/front/img/portfolio/portfolio-1.jpg"
              data-gall="portfolioGallery"
              class="venobox preview-link"
              title="App 1"
              ><i class="bx bx-plus"></i
            ></a>
            <a
              href="portfolio-details.html"
              class="details-link"
              title="More Details"
              ><i class="bx bx-link"></i
            ></a>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-web">
          <div class="portfolio-img">
            <img
              src="assets/front/img/portfolio/muni2.jpg"
              class="img-fluid"
              alt=""
            />
          </div>
          <div class="portfolio-info">
            <h4>Municipalité</h4>
            <p>Nabeul</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-app">
          <div class="portfolio-img">
            <img
              src="assets/front/img/portfolio/muni8.jpg"
              class="img-fluid"
              alt=""
            />
          </div>
          <div class="portfolio-info">
            <h4>Tunisie</h4>
            <p>Tunisie</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-card">
          <div class="portfolio-img">
            <img
              src="assets/front/img/portfolio/muni4.jpg"
              class="img-fluid"
              alt=""
            />
          </div>
          <div class="portfolio-info">
            <h4>Municipalité</h4>
            <p>El Mourouj</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-web">
          <div class="portfolio-img">
            <img
              src="assets/front/img/portfolio/muni3.jpg"
              class="img-fluid"
              alt=""
            />
          </div>
          <div class="portfolio-info">
            <h4>Municipalité</h4>
            <p>Sousse</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-app">
          <div class="portfolio-img">
            <img
              src="assets/front/img/portfolio/muni7.jpg"
              class="img-fluid"
              alt=""
            />
          </div>
          <div class="portfolio-info">
            <h4>Tunisie</h4>
            <p>Tunisie</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-card">
          <div class="portfolio-img">
            <img
              src="assets/front/img/portfolio/muni5.jpg"
              class="img-fluid"
              alt=""
            />
          </div>
          <div class="portfolio-info">
            <h4>Municipalité</h4>
            <p>El Hammamet</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-card">
          <div class="portfolio-img">
            <img
              src="assets/front/img/portfolio/muni6.jpg"
              class="img-fluid"
              alt=""
            />
          </div>
          <div class="portfolio-info">
            <h4>Tunisie</h4>
            <p>Tunisie</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-web">
          <div class="portfolio-img">
            <img
              src="assets/front/img/portfolio/muni1.jpg"
              class="img-fluid"
              alt=""
            />
          </div>
          <div class="portfolio-info">
            <h4>Municipalité</h4>
            <p>Tunis</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Portfolio Section -->

  <!-- ======= Team Section ======= -->

  <!-- End Team Section -->

  <!-- ======= Pricing Section ======= -->

  <!-- End Pricing Section -->

  <!-- ======= Frequently Asked Questions Section ======= -->

  <!-- End Frequently Asked Questions Section -->

  <!-- ======= Contact Section ======= -->

  <!-- End Contact Section -->
</main>
