<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Liste Des Personnes</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active">DataTables</li>
          </ol>
        </div>
      </div>
    </div>
    <!-- /.container-fluid -->
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">Liste Des Personnes</h3>
          </div>
          <!-- /.card-header -->
          <div class="form-inline ml-3">
            <div class="input-group input-group-sm">
              <select
                class="form-control"
                type="text"
                name="type"
                [(ngModel)]="type"
                (click)="guessInput()"
              >
                <option value="Tout">Tout</option>
                <option value="Nom">Nom</option>
                <option value="Prénom">Prénom</option>
                <option value="Sexe">Sexe</option>
                <option value="Date de naissance">Date de naissance</option>
                <option value="Lieu de naissance">Lieu de naissance</option>
                <option value="Nom du père">Nom du père</option>
                <option value="Nationalité du père">Nationalité du père</option>
                <option value="Nom de la mère">Nom de la mère</option>
                <option value="Nationalité de la mère">
                  Nationalité de la mère
                </option>
                <option value="Situation familiale">Situation familiale</option>
                <option value="Date de décès">Date de décès</option>
                <option value="Lieu de décès">Lieu de décès</option>
              </select>

              <input
                class="form-control form-control-navbar"
                type="{{ inputType }}"
                placeholder="Rechercher"
                [(ngModel)]="value"
                (input)="rechercher()"
                [ngStyle]="{
                  color: listPersonnes.length != 0 ? '#249c52' : '#99352f',
                  'background-color':
                    listPersonnes.length != 0 ? '#b7dba9' : '#debabd'
                }"
              />

              <div class="input-group-append">
                <button class="btn btn-navbar">
                  <i class="fas fa-search"></i>
                </button>
              </div>
              &nbsp;

              <app-nbr-personnes
                (hideEvent)="hello()"
                [nbPer]="nbPersonnes"
              ></app-nbr-personnes>
            </div>
          </div>

          <div class="card-body">
            <table
              id="example2"
              class="table table-bordered table-hover"
              style="font-size: 13px"
            >
              <thead>
                <tr>
                  <th>Nom</th>
                  <th>Prénom</th>
                  <th>Sexe</th>
                  <th>Date de naissance</th>
                  <th>Lieu de naissance</th>
                  <th>Nom du père</th>
                  <th>Nationalité du père</th>
                  <th>Nom de la mère</th>
                  <th>Nationalité de la mère</th>
                  <th>Situation familiale</th>
                  <th>Date de décès</th>
                  <th>Lieu de décès</th>
                  <th colspan="2" style="text-align: center">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr
                  *ngFor="
                    let person of listPersonnes
                      | paginate
                        : {
                            id: 'listing_pagination',
                            itemsPerPage: 4,
                            currentPage: page,
                            totalItems: totalRecords
                          }
                  "
                >
                  <td>{{ person.nom }}</td>
                  <td>{{ person.prenom }}</td>
                  <td>{{ person.sexe }}</td>
                  <td>{{ person.dateNaissance | date: "fullDate" }}</td>
                  <td>{{ person.lieuNaissance }}</td>
                  <td>{{ person.nomPere }}</td>
                  <td>{{ person.natioPere }}</td>
                  <td>{{ person.nomMere }}</td>
                  <td>{{ person.natioMere }}</td>
                  <td>{{ person.sitFamiliale }}</td>
                  <td>{{ person.dateDeces | date: "fullDate" }}</td>
                  <td>{{ person.lieuDeces }}</td>

                  <td>
                    <button class="btn btn-danger" (click)="delete(person.id)">
                      <i class="far fa-trash-alt"></i>
                    </button>
                  </td>
                  <td>
                    <button
                      class="btn btn-warning"
                      routerLink="updatePersonne/{{ person.id }}"
                    >
                      <i class="fas fa-user-edit"></i>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div style="margin-left: 30%">
            <pagination-controls
              id="listing_pagination"
              maxSize="5"
              directionLinks="true"
              (pageChange)="page = $event"
            ></pagination-controls>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->

        <!-- /.card -->
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </section>
  <!-- /.content -->
</div>
